@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,body{
  font-family: theme('fontFamily.space');
  background-image: theme('backgroundImage.blur-desktop');
  background-color: theme('colors.bastille.900');
  background-position: theme('backgroundPosition.left-bottom');
  background-size: theme('backgroundSize.cover');
}


